* {
    background-color: rgb(58, 57, 67);
}

section {
    text-align: center;
}

#title {
    margin-top: auto;
    padding: 5px,5px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 75px;
    color: rgb(176, 140, 152);
    
}

.board-container {
    margin: auto;
    padding: 10px;
    width: 100%;
    height: 100%;
    border: 5px solid #b08c98;
    display: flex;
    align-items: space-around;
    flex-wrap: wrap;
    gap: 2em;
}

.cell {
    margin: auto;
    padding: 0%;
    width: 333px;
    height: 333px;
    border: 10px solid black;
}

.restart-button {
    margin: auto;
    padding: 15px, 15px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: black;
    background-color: rgb(176, 140, 152);
    width: 120px;
    height: 50px;
}

